html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.one-container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

/* Any direct child of one-container */
.one-container > * {
    grid-row: 1;
    grid-column: 1;
}

.phone-container {
    border: 15px solid black;
    border-radius: 75px;

    width: 400px;
    height: 850px;
}

.phone-camera {
    width: 130px;
    height: 40px;
    border: 20px solid black;
    border-radius: 20px;
    box-sizing: border-box;

    margin-top: 10px;
    margin-bottom: 10px;
}

.screen {
    height: 640px;
}

.bottom-display {
    background-color: white;
    height: 150px;
    border-radius: 60px;
    padding: 30px;
    box-sizing: border-box;
    user-select: none;
}

.time-left-display {
    font-family: "IBM Plex Sans";
    font-size: 32px;
    font-weight: 600;
}

.time-display {
    font-family: "Roboto";
    font-size: 20px;
    margin-top: 10px;
}

.map-destination-input {
    width: 360px;
    height: 60px;
    background-color: #cacaca;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: "Roboto";
    color: #49454f;
    font-size: 18px;

    cursor: pointer;
    user-select: none;
}

.map-destination-input:hover {
    background-color: #d4d4d4;
}

.map-destination-input:active {
    background-color: #dedede;
}

.map-screen {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.search-icon {
    pointer-events: none;
    position: relative;
    top: 5px;
    left: 300px;
}

.next-direction-bar {
    width: 360px;
    height: 60px;
    background-color: #ff7f00;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 10px;
    box-sizing: border-box;
}

.next-direction {
    font-family: "Roboto";
    font-size: 20px;
}

.exit-route-button {
    width: 80px;
    height: 60px;
    background-color: #db3939;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: "Roboto";
    font-size: 18px;

    user-select: none;
    cursor: pointer;
}

.exit-route-button:hover {
    background-color: #e35252;
}

.exit-route-button:active {
    background-color: #f37b7b;
}

.select-dest-screen {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.select-dest-input {
    width: 360px;
    height: 60px;
    background-color: #cacaca;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: "Roboto";
    color: #49454f;
    font-size: 18px;

    cursor: pointer;
    user-select: none;
}

.select-dest-input:hover {
    background-color: #d4d4d4;
}

.select-dest-input:focus {
    background-color: #dedede;
}

.search-select-container {
    background-color: #f3edf7;

    width: 360px;
    height: 200px;

    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);

    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

.search-container-full {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.search-select {
    font-family: "Roboto";
    font-size: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    cursor: pointer;
}

.search-select:hover {
    background-color: #e8e3ec;
}

.search-select:active {
    background-color: #d7d3db;
}

.search-select-current {
    background-color: #ff7f00;
}

.search-select-current:hover {
    background-color: #ff9100;
}

.search-select-current:active {
    background-color: #ffa600;
}

.select-dest-button {
    width: 360px;
    height: 60px;
    background-color: #cacaca;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: "Roboto";
    color: #49454f;
    font-size: 18px;

    cursor: pointer;
    user-select: none;
}

.select-dest-button:hover {
    background-color: #d4d4d4;
}

.select-dest-button:active {
    background-color: #dedede;
}

.display-no-route {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: "IBM Plex Sans";
    font-weight: 600;
    color: #49454f;
    font-size: 32px;

    user-select: none;
}

.map {
    width: 400px;
    height: 640px;
}

.report-button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    pointer-events: none;
}

.report-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;

    background-color: #852221;
    cursor: pointer;

    color: white;
    font-size: 36px;

    pointer-events: all;
}

.report-button:hover {
    background-color: #9c1f1d;
}

.report-button:active {
    background-color: #b91c1a;
}

.special-cursor {
    cursor: url("./cone.png"), url("./cone.png"), auto;
}

.cone {
    cursor: pointer;
}

.report-blockage-screen {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.report-blockage {
    background-color: #ece6f0;
    width: 300px;
    height: 400px;
    margin-top: 30px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.report-blockage-title {
    font-family: "Roboto";
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.report-blockage-select {
    font-family: "Roboto";
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;

    background-color: #dfd6e6;
}

.report-blockage-select:hover {
    background-color: #d9c8e6;
}

.report-blockage-select:active {
    background-color: #ceb3e4;
}

.report-blockage-select-active,
.report-blockage-select-active:hover,
.report-blockage-select-active:active {
    background-color: #b599c9;
    cursor: default;
}

.report-blockage-reason {
    font-family: "Roboto";
    color: #49454f;
    font-size: 14px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.report-blockage-other {
    margin-top: 20px;
    padding: 10px;
    height: 60px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border-width: 0;
}

.report-blockage-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 80px;
}

.report-blockage-submit {
    padding: 15px;
    background-color: #18c927;
    border-radius: 15px;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0;

    cursor: pointer;
}

.report-blockage-submit:hover {
    background-color: #24db34;
}

.report-blockage-submit:active {
    background-color: #39ec48;
}

.report-blockage-cancel {
    padding: 15px;
    background-color: #e90101;
    border-radius: 15px;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0;

    cursor: pointer;
}

.report-blockage-cancel:hover {
    background-color: #f81c1c;
}


.report-blockage-cancel:active {
    background-color: #ff7272;
}

.view-blockage-screen {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.view-blockage-title {
    font-family: "Roboto";
    font-size: 24px;
    text-align: start;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.view-blockage-reason {
    font-family: "Roboto";
    color: #49454f;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.view-blockage-button {
    width: 150px;
}

.view-blockage-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 80px;
}

.view-blockage-change-reason {
    padding: 10px;
    height: 60px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border-width: 0;
}

.view-blockage {
    background-color: #ece6f0;
    width: 300px;
    height: 320px;
    margin-top: 30px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: start;
}